/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body{
    margin: 5px 100px 0px;
}

html{
  scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.new-product{
    color: white;
    float: right;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 7px 14px;
}


.new-product:hover{
  background-color: rgb(37, 37, 37);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px; /* Optional spacing between cards */
  row-gap: 40px;
}

.product-card {
  width: 300px; /* Or any fixed/flexible size */
  padding: 40px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.page-item.active .page-link{
  background-color: black;
  border: 1px solid black;
  color: white;
}

.page-item.active .page-link:hover{
  background-color: rgb(37, 37, 37);
  border: 1px solid rgb(37, 37, 37);
}

.page-item .page-link{
  color: black;
}

.page-item .page-link:hover{
  background-color: rgb(231, 231, 231);
}

.page-item.disabled .page-link{
  color: rgb(59, 59, 59);
}